{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4" id="time">{{ current_time }}</h1>
    <p class="lead">This is a clock. Alone it's not impressive. What makes it impressive is that the background changes colors
    according to the coordinating hexadecimal color. But wait, there's more. It also has a progress bar that fills up to 100% each
        minute. But wait, there's more. Hover over the time. It'll show you the hexadecimal code that the background color is using
        to change its color.</p>
    <hr class="my-4">
    <div id="progress"></div>
</div>

{% endblock %}